{% extends 'base.html' %}
{% load static %}

{% block header %}
	<h1>{% block title %}SignUp{% endblock %}</h1>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="field-wrapper">
		{{ form.username.label_tag }}
		{{ form.username }}
		{{ form.username.errors }}
	</div>
	<div class="field-wrapper">
		{{ form.email.label_tag }}
		{{ form.email }}
		{{ form.email.errors }}
	</div>
	<div class="field-wrapper">
		{{ form.password.label_tag }}
		<input name="password" id="password" type="password">
		{{ form.password.errors }}
	</div>
	<div class="btn-area">
		<input class="btn" type="submit" value="Sign Up">
	</div>
</form>
{% endblock %}
