{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %} - BookDB</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<nav class="topnav">
			<a class="logo" href="{% url 'list' %}">BookDB</a>
			<div class="menu">
				{% if not user.is_authenticated %}			
				<a class="menu-item" href="{% url 'signup' %}">Sign Up</a>
				<a class="menu-item" href="{% url 'login' %}">Log In</a>
				{% else %}
				<a class="menu-item" href="{% url 'logout' %}">Log Out</a>
				<a class="menu-item profile" href="">{{ user.username }}</a>
				{% endif %}
			</div>
		</nav>
		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
			<div class="content-body">
			{% block content %}{% endblock %}
			</div>
		</section>
	</body>
</html>
